{% extends 'TNCYSchoolBundle::layout.html.twig' %}
{% block title %}{{ "Dashboard"| trans}}  {{ parent() }}  {% endblock %}
{% block container %}

<main role="main" class="main profile">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h1 class="page-header">Dashboard</h1>
            </div>
        </div>
        <div class="row">
        <!-- dashboard -->
        <div class="col-md-8">

            <h2 class="">My Homework</h2>
            <div class="row">
                <div class="col-md-12">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>due date</th>
                                <th>exercices</th>
                                <th>result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>07/04/2016</td>
                                <td>memory</td>
                                <td>done</td>
                            </tr>
                            <tr>
                                <td>07/04/2016</td>
                                <td>song</td>
                                <td>7/10</td>
                            </tr>
                            <tr>
                                <td>07/04/2016</td>
                                <td>match</td>
                                <td>2/10</td>
                            </tr>
                            <tr>
                                <td>01/04/2016</td>
                                <td>match</td>
                                <td>2/10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                <!-- sidebar -->
        <aside class="col-md-4">
<!--             <div class="panel panel-default">
                <div class="panel-body">
                    <h4>{{ "Maîtrise de l'anglais" | trans }}</h4>
                    <a href="" class="btn btn-success  btn-fab">7%</a>
                    <button type="button" class="btn btn-lg btn-block btn-raised btn-primary">{{ "Certifie tes connaissances" | trans }}</button>
                    <button type="button" class="btn btn-lg btn-block btn-raised btn-info">{{ "Ajouter au profil linkedin" | trans }}</button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>{{ "Objectif quotidien"| trans }}</h4>
                    <p>
                        {{ "Fixe-toi un objectif quotidien en termes de XP pour t'aider à rester motivé."| trans }}
                    </p>
                    <canvas id="myChart" width="300" height="250"></canvas>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>{{ "Fais la compétition avec tes amis"| trans }}</h4>
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{ "Hey toto "| trans }}</h4>

                                <p class="list-group-item-text">{{ "Ajoute des amis pour faire la course avec eux !"| trans }}</p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-lg btn-block btn-raised btn-primary">{{ "Trouver des amis sur Facebook"| trans }}</button>
                    <button type="button" class="btn btn-raised btn-info">{{ "Inviter des amis"| trans }}</button>
                    <button type="button" class="btn btn-raised btn-info">{{ "Chercher"| trans }}</button>
                </div>
            </div>
 -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class=" box-social-buttons">
                        <h4>{{ "Suivre EnjoyLearning"|trans}}</h4>
                        <div class=" list-social-buttons">
                            <a target="_blank" href="http://twitter.com/duolingo" class="btn  btn-sm btn-twitter">Twitter </a>
                            <a target="_blank" href="http://facebook.com/duolingo" class="btn   btn-sm btn-fb">Facebook </a>
                            <a target="_blank" href="http://plus.google.com/+duolingo" class="btn  btn-sm btn-google">Google+ </a>
                        </div>
                    </div>      
                </div>
            </div>
        </aside>
                </div>

    </div>
</main>


{% endblock %}
{% block javascripts %}
{{ parent() }}

{% endblock %}