{% extends 'TNCYSchoolBundle::layout.html.twig' %}
{% block title %}{{ "Dashboard"| trans}}  {{ parent() }}  {% endblock %}
{% block container %}

<main role="main" class="main profile">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h1 class="page-header">Dashboard</h1>
            </div>
        </div>
        <div class="row">
        <!-- dashboard -->
        <div class="col-md-8">

            <h2 class="">My Homework</h2>
            <div class="row">
                <div class="col-md-12">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>due date</th>
                                <th>exercices</th>
                                <th>result</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in exercices %}
                            <tr>
                                <td><p data-placement="top" data-toggle="tooltip" title="{{item.homework.content}}">{{item.homework.dueDate|date('Y-m-d')}}</p></td>
                                <td><a href="{{path('tncy_school_find_exercice', {'id':item.id}) }}">{{item.homework.name}} ({{item.exercice.getShortName}})</a></td>
                                <td>{{item.result}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                <!-- sidebar -->
        <aside class="col-md-4">


            <div class="panel panel-default">
                <div class="panel-body">
                    <div class=" box-social-buttons">
                        <h4>{{ "Suivre EnjoyLearning"|trans}}</h4>
                        <div class=" list-social-buttons">
                            <a target="_blank" href="https://twitter.com/LearningEnjoy" class="btn  btn-sm btn-twitter">Twitter </a>
                            <a target="_blank" href="https://www.facebook.com/English.EnjoyLearning" class="btn   btn-sm btn-fb">Facebook </a>
                        </div>
                    </div>      
                </div>
            </div>
        </aside>
                </div>

    </div>
</main>


{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}