{% extends 'TNCYSchoolBundle::layout.html.twig' %}
{% block title %}{{ "Memory"| trans}}  {{ parent() }}  {% endblock %}
{% block container %}


<main class="container">
	<div class="jumbotron">
		<div class="container">
			<div id="my-memory-game"></div>
		</div>
	</div>
</main> <!-- /container -->       

{% endblock %}
{% block javascripts %}
<script>
    var assetsBaseDir = "{{ asset('uploads/memory') }}"
</script>
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>

<script src="{{ asset('bundles/tncyschool/js/vendor/classList.min.js') }}"></script>
<script src="{{ asset('bundles/tncyschool/js/vendor/memory.js') }}"></script>
{{ parent() }}

{% endblock %}