{% extends 'TNCYSchoolBundle::layout.html.twig' %}
{% block title %}{{ "Exercice Song"| trans}}  {{ parent() }}  {% endblock %}
{% block container %}


<main class="container">
	<div class="jumbotron">
		<div class="container">
			

			{{soundCloundTrackEmbed | raw}}

			<form action="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" method="POST" id="lyricsForm" data-exercice="{{exerciceId}}">
				
			<p>{{lyrics | raw}}</p>
			
			<button type="submit" class="btn btn-primary">{{ "Validate"|trans}}</button>
			</form>

		</div>
	</div>
</main> <!-- /container -->       

{% endblock %}
{% block javascripts %}


{{ parent() }}

<script type="text/javascript">
$( document ).ready(function(){
	$("#lyricsForm").submit(function( event ) {
		event.preventDefault();
		var countError = 0;
	  	jQuery.each( $("input"), function( i, val ) {
		 	if ($(this).data("answer").toLowerCase() != $(this).val().toLowerCase()) {
		 		countError ++;
		 		$("<span />", { html: "<s>"+$(this).val()+"</s> "+$(this).data("answer"), "class":"has-error" }).insertAfter(this);
  				$(this).hide();
		 	}
		 	else{
	 		  	$("<span />", { text: this.value, "class":"has-success" }).insertAfter(this);
				$(this).hide();
		 	}	 
		 
		});

		///send result to bdd
		$.ajax({
		  type: "POST",
		  url: Routing.generate('tncy_school_exercice_result'),
		  data: { id: $("#lyricsForm").data('exercice'), result: countError+"/20" },
		  success: success,
		  dataType: 'json'
		});
		
	});
 });
</script>

{% endblock %}