{% extends 'TNCYSchoolBundle::layout.html.twig' %}
{% block title %}{{ "Dashboard"| trans}}  {{ parent() }}  {% endblock %}
{% block container %}


<main class="container">
	<div class="jumbotron">
		<div class="container">
			<p class >
				<ul class="container-fluid" id="answers">
					{% for i, word in original %}
						<div class="row">
							<li class="col-md-3" id="li-{{i}}"> {{word}} : </li>
							<input class="col-md-3" id="input-{{i}}" type="text" placeholder="Traduction">
						</div>
						<br/>		
					{% endfor %}
				</ul>
				<div id="nbAnswers"></div>
			</p>
			<div id="done" type="submit" class="btn btn-primary">{{ "Validate"|trans}}</div>
		</div>
	</div>
</main> <!-- /container -->       

{% endblock %}
{% block javascripts %}

{{ parent() }}
<script type="text/javascript">
	var original = {{original|json_encode(constant('JSON_PRETTY_PRINT'))|raw}};
	var translated = {{translated|json_encode(constant('JSON_PRETTY_PRINT'))|raw}};

	$("#done").click( function()
           {
           		var nbErrors = 0;
           		var i = 0;
           		Object.keys(original).forEach(function (original) {
   					var inputValue = $("#input-" +i).val();
   					var input = $("#input-"+i);
   					var resp = translated[i].trim();
   					if (inputValue.trim().toUpperCase() != resp.toUpperCase()) {
   						nbErrors++;
   						input.css('background-color', 'red');
   					}else {
   						input.css('background-color', 'green');
   					}
   					input.prop('disabled', true);
   					input.css('text-align', 'center').css("font-weight","Bold");
   					input.val(resp);
           			i++;
				});
				$("#nbAnswers").text(nbErrors + " error(s) in " + i);
				$("#done").hide();
           	}
      );
</script>


{% endblock %}