{% extends 'TNCYSchoolBundle::layout.html.twig' %}
{% block title %}{{ "Profil de "| trans}} {{user.firstname}} {{ parent() }}  {% endblock %}
{% block container %}

    <main role="main" class="main profile">
        <div class="container target">
            <div class="row" style="background-image:url('{{ media_public_url(user.background, 'reference') }}');">
                <div class="col-md-10">
                    <h1 class="">{{user.username}}</h1>

                    <button type="button" class="btn btn-info">Envoyer un message</button>
                    <br>
                </div>
                <div class="col-md-2">
                    <a href="/users" class="pull-right">
                        <img title="profile image" class="img-circle img-responsive" src="{{ media_public_url(user.avatar, 'reference') }}">
                    </a>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    {{ knp_menu_render('profile',{'currentClass': 'active'}) }}
                </div>
            </div>
            <br>
            <div class="row">
                {% block profile_container %}
                {% endblock %}
            </div>
        </div>
    </main>


    {% endblock %}
    {% block javascripts %}
        {{ parent() }}

    {% endblock %}